img{
    max-width: 100%;
}

.cv-section{

}




/* body css start */

body{
    position: relative;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/* wite css to make circle */

.container{
    width: 50%;
    margin: 0 auto;
}

.container-wrap{
    position: relative;
}

.container-wrap::before{
    content: "";
    height: 100px;
    width: 100%;
    background-color: #14a1bd;
    position: absolute;
    top: 0;
}



.cv-section .cv-wrapper{
   position: relative;
   padding: 0 20px;

}



.cv-section .cv-wrapper .cv-wrapper-left{
    width: 35%;
    background-color: #0f2e3e;
    text-align: center;
    padding: 10px 30px;
    float: left;
}

.cv-section .cv-wrapper .cv-wrapper-left .image-wrap{
    display: flex;
    justify-content: center;
}

.cv-section .cv-wrapper .cv-wrapper-left .profile-img{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 15px;
}

.my-info{
    color: #FFF;
}

.my-info>div{
    margin-bottom: 20px;
}

.my-info .title{
    margin-bottom: 10px;
}

.my-info .title h4{
    border: 1px solid #FFF;
    padding: 3px 0px;
    font-weight: 600;
    font-size: 17px;
    margin: 0px;
}

.my-info ul{
    margin: 0px;
    padding: 0;
    list-style: none;
}

.my-info ul li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.my-info ul li span{
    display: block;
    text-align: left;
}

.my-info ul li i{
    background-color: #14a1bd;
    padding: 5px;
    border-radius: 100%;
    font-size: 12px;
    margin-right: 10px;
}


.my-info .rating ul li .icon{
}

.my-info .rating ul li .text{
    
    margin-right: 10px;
    position: relative;
}

.my-info .rating ul li .icon span{
    height: 5px;
    width: 10px;
    margin: 0 2px;
    background-color: #14a1bd;
    display: inline-block;
}


.my-info .language ul{
    display: flex;
    justify-content: space-between;
}

.my-info .language ul li{
    display: block;
}
.my-info .language ul li .text{
margin-bottom: 10px;
font-weight: 500;
}
.my-info .language ul li .circle-box{
    border-radius: 100%;
    border:7px dotted #14a1bd;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    border-left: none;
    border-bottom: none;

}

.my-info .language ul li .circle-box span{
    text-align: center;
}


.cv-wrapper-right{
    padding-left: 20px;
    width: 53%;
    float: right;
}

.cv-wrapper-right .my-name{
    padding-top: 20px;
    color: #FFF;
}


.cv-wrapper-right .my-name h1, .cv-wrapper-right .my-name h4{
    margin: 0px;
    
}





.cv-wrapper-right .context-wrap{
    margin-top: 50px;
}
.cv-wrapper-right .context-wrap .context-box{
position: relative;
margin-bottom: 30px;

}

.cv-wrapper-right .context-wrap .context-box::before{
    content: "";
    width: 15px;
    height: 3px;
    background: #14a1bd;
    position: absolute;
    left: -14px;
    top: 13px;
}

.cv-wrapper-right .context-wrap .context-box::after{
    content: "";
    position: absolute;
    height: calc(100% - 10px);
    width: 3px;
    background: #14a1bd;
    left: -14px;
    top: 13px;
}

.cv-wrapper-right .context-wrap .context-box .context-heading{
    display: flex;
    align-items: center;
}

.cv-wrapper-right .context-wrap .context-box .context-heading .icon{
    margin-right: 10px;
    background-color: #14a1bd;
    height: 25px;
    width: 25px;
    line-height: 25px;
    border-radius: 100%;
    text-align: center;
    color: #FFF;
}

.cv-wrapper-right .context-wrap .context-box .context-heading .icon i{
    font-size: 12px;
}

.cv-wrapper-right .context-wrap .context-box .context-heading h4{
    margin: 0;
}

.cv-wrapper-right .context-wrap .context-box .context-text{
    margin-top: 10px;
}

.cv-wrapper-right .context-wrap .context-box .context-text p{
    text-align: justify;
    color: #000;
    opacity: 0.7;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    margin: 0;
}


.cv-wrapper-right .context-wrap .context-box .context-text .context-text-wrap{
    margin-bottom: 20px;
}

.cv-wrapper-right .context-wrap .context-box .context-text .context-text-wrap h2{
    margin: 0;
    font-size: 17px;
    font-weight: 500;
    color: #6e6363;
    position: relative;
}

.cv-wrapper-right .context-wrap .context-box .context-text .context-text-wrap h6{
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    color: #14a1bd;
    margin-bottom: 5px;
    position: relative;
}

 .cv-wrapper-right .context-wrap .context-box .context-text .context-text-wrap h6::before{
    content: "";
    height: 10px;
    width: 10px;
    background: #14a1bd;
    position: absolute;
    border-radius: 100%;
    left: -17px;
    top: 3px;
}